<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
        {% load bootstrap4 %}
        {% bootstrap_css %}
    </head>
    <body>
        <div class="container-fluid bg-secondary pt-5" style="height:1000px">
            <div class="jumbotron bg-warning">
                <h1 class="display-4">YOU LOOSE!</h1>
                <p class="lead text-bold">Thanks for playing</p>
                <hr class="my-4">
                <p>Do you want to try it again?</p>
                <p class="lead">
                    <a class="btn btn-dark btn-lg" href="/" role="button">Try Again</a>
                </p>
</div>
        </div>

    <script>

    </script>
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>